/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-left {
    flex: 1;
    padding: 20px;
}

.side-left img {
    max-width: 100%;
}

.side-right {
    flex: 1;
    padding: 20px;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
    padding-right: 30px; /* Adiciona espaço para a seta */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
}

input[type="file"] {
    display: none;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
